* {
    margin: 0 auto;
    padding: 0 auto;
    display: auto;
  
  }
  
  html {
    font-family: 'Bebas Neue', sans-serif;
  }
  
  body {
    background: linear-gradient(45deg, #f22613, #f89406, #26a65b, #5868ec, #f54e80, #f7ca18, #d2527f);
    background-size: 500% 500%;
    -webkit-animation: ignielGradient 30s ease infinite;
    -moz-animation: ignielGradient 30s ease infinite;
    animation: ignielGradient 30s ease infinite;
  }
  
  @-webkit-keyframes ignielGradient {
    0% {
      background-position: 0% 50%
    }
  
    50% {
      background-position: 100% 50%
    }
  
    100% {
      background-position: 0% 50%
    }
  }
  
  @-moz-keyframes ignielGradient {
    0% {
      background-position: 0% 50%
    }
  
    50% {
      background-position: 100% 50%
    }
  
    100% {
      background-position: 0% 50%
    }
  }
  
  @keyframes ignielGradient {
    0% {
      background-position: 0% 50%
    }
  
    50% {
      background-position: 100% 50%
    }
  
    100% {
      background-position: 0% 50%
    }
  }
  
  .container {
    display: fixed;
    max-height: 50px auto;
    max-width: auto;
    width: auto;
    margin: 0 auto;
    height: 100vh;
  }
  
  
  .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 13px;
  }
  
  .profile>img {
    width: 130px;
    height: 130px;
    border: 4px solid rgb(0, 140, 255);
    border-color: radial-gradient(solid at 74.18% -16.45%, #ff57d2 0, #ff4edb 12.5%, #f046e3 25%, #d63feb 37.5%, #b53cf2 50%, #8c3df9 62.5%, #4f40ff 75%, #0046ff 87.5%, #004bff 100%);
    border-radius: 100%;
  }
  
  .profile>p {
    font-family: 'ADLaM Display', cursive;
    font-size: 1.8em;
    font-weight: 900;
    letter-spacing: 3px;
    color: #362b2b;
    text-transform: capitalize;
    text-align: center;
  }
  
  .uid {
    text-align: center;
    font-family: 'Bree Serif', serif;
    letter-spacing: 1px;
    color: #362b2b;
    padding: 8px;
  }
  
  
  
  .link {
    display: flex;
    flex-direction: column;
    padding: 25px;
  
  }
  
  .link>a {
    text-decoration: none;
    justify-content: space-between;
    color: black;
    font-size: 30px;
    text-align: center;
    border: 3px solid black;
    background-color: rgb(148, 122, 122);
    border-radius: 10px;
    margin: 5px 5px;
    padding: 10px;
    text-transform: uppercase;
    font-weight: 500;
  }
  
  .link :hover {
    border-color: transparent;
    color: #fff;
    background: linear-gradient(-45deg, #e88668, #f46ca0, #47b0d7, #39d5b1);
    background-size: 400% 400%;
    -webkit-animation: Gradient 10s ease infinite;
    -moz-animation: Gradient 10s ease infinite;
    animation: Gradient 10s ease infinite;
  }
  
  @-webkit-keyframes Gradient {
    0% {
      background-position: 0% 50%
    }
  
    50% {
      background-position: 100% 50%
    }
  
    100% {
      background-position: 0% 50%
    }
  }
  
  @-moz-keyframes Gradient {
    0% {
      background-position: 0% 50%
    }
  
    50% {
      background-position: 100% 50%
    }
  
    100% {
      background-position: 0% 50%
    }
  }
  
  @keyframes Gradient {
    0% {
      background-position: 0% 50%
    }
  
    50% {
      background-position: 100% 50%
    }
  
    100% {
      background-position: 0% 50%
    }
  }
  
  .footer {
    text-align: center;
    display: flex;
    justify-content: center;
  }
  
  .footer>p {
    color: #362b2b;
    font-family: 'Bree Serif', serif;
    font-size: 15px auto;
    text-shadow: springgreen 50px;
    border: 8px;
    border-radius: 20px;
    border-color: black;
    text-align: center;
  
  }
  
  
  .hahaha {
    color: #362b2b;
    font-family: 'Bree Serif', serif;
    font-size: 15px auto;
    text-shadow: springgreen 50px;
    border: 8px;
    border-radius: 20%;
    text-align: center;
    padding-top: 20%, auto;
  
  
  }